
header {
	position: relative;
	box-sizing: border-box;
}

.promo {
	background-image: url(../img/bg-photo.png);
	background-repeat: no-repeat;
	position: absolute;
	top: -20px;
	left: 0;

	width: 100%;
	height: 700px;

	
}

h1 {
	font-family: serif;
	font-size: 200px;
	font-weight: bold;
	line-height: 234px;
	text-align: center;
	color: white;

	padding-top: 200px;
	margin: auto 0;
}

.promo p {
	font-family: serif;
	font-size: 24px;
	font-weight: lighter;
	line-height: 24px;
	text-align: center;
	color: white;

	padding-top: 210px;
	margin: auto 0;
}


.vacation {
}
.box {
}
.cols {
}
.icon {
}
.numbers {
}
.subtext {
}
.about {
}
.about__img-block {
}
.__text {
}
.cars {
}
.photo {
}
.slider {
}
